@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

li,a{
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.navbar{
    position: sticky;
}

header{
    background-color: #0064d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.titik{
    color: #FFD401;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    letter-spacing: 1px;
    color: #FFD401;
    font-weight: bold;
    font-size: 18.5px;
}

button {
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}

button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.background{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(images/background.jpg);
}

.background .color_layer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.background .color_layer h1 {
    padding: 30px;
    letter-spacing: 3px;
    font-size: 50px;
    color: white;
}

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.img-tabel{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px black solid;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0064d3;
    color: white;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* public/css/style.css */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    color: black;
}

li{
    color: black;
}

h2{
    color: black;
}

.img-fluid{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid black;
}


.card {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 20px;
}

.card-body img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.list-group {
    margin-top: 15px;
}

.list-group-item {
    border: none;
}

.list-group-item strong {
    width: 250px;
    display: inline-block;
    font-weight: bold;
}
